<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1 style="text-align: center;">Ažuriraj stavku</h1>

    <ion-item>
      <ion-label position="floating">Destinacija</ion-label>
      <ion-input [(ngModel)]="putovanje.destinacija"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Datum Od</ion-label>
      <ion-datetime [(ngModel)]="putovanje.datumOd"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Datum Do</ion-label>
      <ion-datetime [(ngModel)]="putovanje.datumDO"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">URL Slike</ion-label>
      <ion-input [(ngModel)]="putovanje.slika"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="updateItem()">Sačuvaj izmene</ion-button>
  </div>
</ion-content>